/*************************************************************************************************************************************************************************************************************************###################Common style for all other pages###########################
**********************************************************************************************************************************************************************************************************************/
nav {
  background: #000;
  margin: 0;
  padding-bottom: 5px;
}
.main-logo {
  margin-top: 5px;
}
.logo {
  height: 60px;
}
.main-nav {
  margin-top: 25px;
}
